<div class="main-container">
  <div class="number-input-container" [formGroup]="form">
    <span 
      *ngFor="let letter of currentlyShownLetter; index as i" 
      class="old-entered-letter"
      [@slideLeft]="i"
      (@slideLeft.done)="animationDone($event)"
      (click)="letterClicked(i, letterSpan.textContent)"
      #letterSpan
      >
      {{i}}
      {{ (letterToEnterIndex - 3 == 0) && letter == '3' ? letter + ",": letter }}
    </span>
    <!-- <span class="old-entered-letter" [@slideLeft]="animationState"> {{ letterToEnterIndex == 3 ? PI[letterToEnterIndex - 3] + ",": PI[letterToEnterIndex - 3]}} </span> -->
    <!-- <span class="old-entered-letter" [@slideLeft]="animationState"> {{ PI[letterToEnterIndex - 2]}} </span> -->
    <!-- <span class="old-entered-letter" [@slideLeft]="animationState"> {{ PI[letterToEnterIndex - 1]}} </span> -->
    <input class="pi-input-field" formControlName="pi" #pi (input)="newLetterEntered(pi.value)">
  </div>
</div>

<!-- [ngStyle]="{'left': (i * 40) - 120 + 'px'}" -->
<!-- [@slideLeft]="i" -->