<div class="main-container">
  <div class="number-input-container" [formGroup]="form">
    <span 
      *ngFor="let numberIndex of range(this.letterToEnterIndex - 3, this.letterToEnterIndex - 1); index as i; trackBy: trackByFn" 
      class="old-entered-letter"
      [@slideLeft]="{value: i, params: {delay: i * 150}}"
      #letterSpan
      >
      {{ numberIndex == 0 ? this.PIDict[numberIndex] + ",": this.PIDict[numberIndex] }}
    </span>
    <input class="pi-input-field" formControlName="pi" #pi (input)="newLetterEntered(pi.value)">
  </div>
</div>